[Unit]
Description=CaeliCode WSL first-login setup
After=local-fs.target
After=network.target

[Service]
ExecStart=/opt/caelicode/scripts/run-once.sh
RemainAfterExit=true
Type=oneshot

[Install]
WantedBy=multi-user.target
